#noPieChartDataMessage{
  text-align: center;
  font-size: 24px;
  font-color: gray;
  padding-top: 200px;
}
#noBarChartDataMessage{
  text-align: center;
  font-size: 24px;
  font-color: gray;
  padding-top: 200px;
}
#noLineChartDataMessage{
  text-align: center;
  font-size: 24px;
  font-color: gray;
  padding-top: 200px;
}


#campaignsRecordPage{
  #pieChartPanel{
    min-height: 400px;
    svg{
      padding-top: 20px;
    }
    #pieChart{
      top: 40px;
    }
    #noPieChartDataMessage {
      //text-align: center;
      font-size: 24px;
      font-color: gray;
      padding-top: 40px;
      height: 400px;
      //width: 100%;
      //position: absolute;
    }
    #pieChart{
      text-align:center;
      img{
        margin: auto;
      }
    }
  }
  #dailyInteractionsLineChartPanel{
    min-height: 400px;
    svg{
      padding-top: 10px;
    }
    #noLineChartDataMessage {
      text-align: center;
      font-size: 24px;
      font-color: gray;
      padding-top: 0px;
      height: 400px;
      width: 100%;
      position: absolute;
    }
  }
  #hourlyInteractionsBarChartPanel{
    min-height: 400px;
    svg{
      padding-top: 20px;
    }
    #hourlyInteractionsBarChart{
      top: 40px;
    }
    #noBarChartDataMessage {
      text-align: center;
      font-size: 24px;
      font-color: gray;
      padding-top: 0px;
      height: 400px;
      width: 100%;
      position: absolute;
    }
  }

}



